cookie:
  secret: "veryGoodAndVerySecret"

google_oauth2:
  client_id: "getThisFromGoogle"
  secret: "youShouldGetThisFromGoogleAsWellAlsoKeepItSecret"

allowed_email:
  - foo@example.com
  - bar@example.com

